<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<link rel="stylesheet" href="/css/product.css" />

<%- include('../includes/nav.ejs') %>

<main>
  <article class="card product-item">
    <%- include('../includes/article.ejs', {prod: prod}) %>
    <form action="/cart" method="post">
        <input type="hidden" name="productId" value="<%= prod.id %>"/>
        <button class="btn" type="submit">Add to Cart</button>
    </form>
  </article>
</main>
<%- include('../includes/footer.ejs') %>
