<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">

<%- include('../includes/nav.ejs') %>

    <main>
        <% if(prods.length > 0) {%>
        <div class="grid">
            <% for (let prod of prods){ %>
            <article class="card product-item">
                <%- include('../includes/article.ejs', {prod: prod}) %>
                <div class="card__actions">
                    <a href="/products/<%= prod.id %>" class="btn">Details</a>
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No product found</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>