<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">

<%- include('../includes/nav.ejs') %>

    <main>
        <% if(prods.length > 0) {%>
        <div class="grid">
            <% for (let prod of prods){ %>
            
                <article class="card product-item">
                    <%- include('../includes/article.ejs', {prod: prod}) %>
                    <div class="card__actions">
                        <a href="/admin/edit-product/<%= prod.id %>" class="btn">Edit</a>
                        <a href="/admin/delete-product/<%= prod.id %>" class="btn">Delete</a>
                    </div>
                </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No product found</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>